{% extends 'blog/base.html' %}

{% block bodyblock %}

<h1 class="posttile loader"> {{ post.title }}</h1>

{%  if post.published_date %}

    <div class="date postdate">
        {{ post.published_date }}
    </div>
{% else %}
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}
    <p class="postcontent">{{ post.text|safe|linebreaksbr }}</p>

    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}

<hr>
<a href="{% url 'add_comment_post' pk=post.pk %}" class="btn btn-primary btn-comment">Add Comment</a>
<br><br>
<div class="container">
    {% for comment in post.comments.all %}
        <br>
        {% if user.is_authenticated or comment.approved_comment %}
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="{% url 'comment_delete' pk=comment.pk %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            {% endif %}

</div>
            <div class="row">
            
                <div class="panel panel-primary">
                <div class="panel-heading">
                Posted By: <strong class="commenttile">{{ comment.author }}</strong>
                </div>
                <div class="panel-body">
                <p>{{ comment.text|safe|linebreaks }}</p>
                </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
            

                
                
                {% comment %} <p>Posted By: <strong class="commenttile">{{ comment.author }}</strong></p> {% endcomment %}
        {% endif %}
        {% empty %}
            <p> No comments... </p>
    {% endfor %}
</div>
{% endblock %}